body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(249, 246, 250);
}
body .material-icons {
  font-size: 9vw;
  color: rgb(249, 246, 250);
}
body h1 {
  font-size: 9vw;
  color: rgb(249, 246, 250);
  text-align: center;
  margin: 0;
}
body .button__innner__container__temp {
  background-color: rgb(255, 108, 135);
  height: auto;
  width: 49vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .button__innner__container__heat {
  background-color: rgb(255, 208, 108);
  height: auto;
  width: 49vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .button__innner__container__fan {
  background-color: rgb(79, 210, 148);
  height: auto;
  width: 49vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .button__innner__container__lights {
  background-color: rgb(186, 230, 255);
  height: auto;
  width: 49vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}