@import './variables.scss';

body{

    background-color:  $background-color1;
    
    .button__container{
        height : 50vh;
        width : 100vw;
        display: flex;
        flex-direction: row;
    
        #icon__temp__container{
            display:flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            background-color:  $color1;
            height : 50vh;
            width :50vh
            ;

            .icon__temp {
                height: 100px;
                width: 200px;

            }
        }
        .button__innner__container{
            height:100%;
            width :50%;

            #icon__fan{
                background-color:  $color2;
                height : 25vh;
                width :50%;
            }
        
            #icon_lights{
                background-color:  $color3;
                height : 25vh;
                width :50%;
            }
        }

    }

}